<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  
</head>
<body>
    <style>
        body {
            background-color: darkred;}
    </style>
   
    <div class="container">
        <header class="jumbotron">
            <h1>My Games</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
